@import "./themes/base.css";
@import "../../.cache/wal/colors-waybar.css";

* {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 12px;
  box-shadow: none;
  text-shadow: none;
  font-weight: bold;
  border-radius: 0px;
  color: inherit;
  border: 0 solid @color8;
  background-image: none;
  transition: all 0.3s ease-in-out;
  font-family: "JetBrainsMono Nerd Font", "Noto Sans", sans-erif;
}

window {
  color: @foreground;
  background-color: transparent;
}

tooltip {
  background: @background;
  border-width: 2px;
  border-radius: 10px;
}

trough {
  min-width: 100px;
  border-radius: 999px;
  background-color: @color8;
}

highlight {
  min-width: 20px;
  border-radius: 999px;
  background: linear-gradient(90deg, #89b4fa 0%, #ffc8dd 50%, #89b4fa 100%);
  background-size: 400% 400%;
  animation: gradient 5s linear infinite;
}

#mpd,
#cpu,
#tray,
#disk,
#mpris,
#clock,
#memory,
#window,
#taskbar,
#battery,
#workspaces,
#custom-padd,
#custom-start,
#custom-end {
  margin: 2px 0;
  background: @background;
}

#network,
#language,
#bluetooth,
#backlight,
#pulseaudio,
#custom-mode,
#custom-power,
#custom-shader,
#custom-search,
#custom-updates,
#custom-clipmenu,
#custom-assistant,
#custom-wallpaper,
#custom-colorpicker,
#custom-ambient_sound,
#custom-notifications,
#custom-screencapture {
  margin: 2px 0;
  padding-right: 4px;
  background: @background;
}

#mpris {
  margin: 2px 0;
  border-radius: 999px;
  color: @color0;
  background: @background;
  animation: gradient 5s linear infinite;
}

#cava,
#mpris.paused {
  padding: 0 10px;
  background: linear-gradient(90deg, #dd5e89 0%, #f7bb97 50%, #dd5e89 100%);
  background-size: 400% 400%;
}

#mpris.playing {
  padding: 0 10px;
  background: linear-gradient(90deg, #89b4fa 0%, #ffc8dd 50%, #89b4fa 100%);
  background-size: 400% 400%;
}

#privacy {
  margin: 2px 0;
  padding-right: 4px;
  padding: 0 10px;
  border-radius: 999px;
  color: #d7807d;
  background: @background;
}

#taskbar,
#workspaces {
  padding: 0 2px;
  border-radius: 999px;
}

#tray button,
#taskbar button,
#workspaces button {
  margin: 2px 0;
  padding: 0 4px;
  border-radius: 999px;
}

#tray button:hover,
#taskbar button:hover,
#workspaces button:hover {
  background: @color8;
}

#taskbar button.active,
#workspaces button.active {
  padding: 0 14px;
  color: @color0;
  background: linear-gradient(90deg, #89b4fa 0%, #ffc8dd 50%, #89b4fa 100%);
  background-size: 400% 400%;
  animation: gradient 5s linear infinite;
}

#custom-end {
  border-radius: 0px 999px 999px 0px;
  margin-right: 8px;
  padding-right: 8px;
}

#custom-start {
  border-radius: 999px 0px 0px 999px;
  margin-left: 8px;
  padding-left: 8px;
}

@keyframes gradient {
  0% {
    background-position: 0% 200%;
  }
  50% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 400% 200%;
  }
}

@keyframes critical {
  to {
    background-color: @foreground;
    color: #ff0000;
  }
}
